<div class="container">
    {{#if audit}} {{!-- place main.css afer site.css for cascading/precedence reasons. --}}
    <link href="https://{{audit.rootUrl}}/site.css" rel="stylesheet">
    <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection">
    <script src = "https://{{audit.rootUrl}}/universal/scripts-compressed/common-5b9064720d30e2887990e-min.en-US.js"></script>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="center name">{{audit.cuName}}</h2>
            <p>Audit Date: {{{audit.compareDate}}}</p>
            <br />
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a href="{{audit.url}}" target="_blank" class="btn oc-btn"> Go to Site</a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a href="/audits/dev/{{audit.id}}" class="btn oc-btn">View Code</a>
                </div>
            </div>

            <!--<a class="waves-effect waves-light modal-trigger" href="#accessibilityModal"><i class="fas fa-universal-access"></i></a>-->
        </div>
    </div>

    <!--

    <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <h4>Accessibility Portal</h4>
            <form method="post" action="/audits/edit" >
              <div class="container">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" id="id" aria-describedby="ID"  value="{{audit.id}}">
                </div>
                <div class="form-group">
                    <label>
                      <input type="checkbox" name="isCompliant" {{#if audit.isCompliant}} checked {{/if}} />
                      <span>Is Accessibility</span>
                    </label>
                </div>
                <div class="form-group">
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" rows="10" cols="30" name="comment" >{{audit.comment}}</textarea>
                      </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary oc-btn">Submit</button>
                <a href="#!" alt="Close" class="modal-close btn btn-primary oc-btn back">Close</a>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div> 
    -->

    <div class="row d-flex justify-content-center flex-column">

        <ul class="nav nav-tabs " id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#diff" id="diffTab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Change Highlight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#old" id="prevTab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Previous Version</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#new" id="newTab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">New Version</a>
            </li>
        </ul>

        <div class="tab-content" id="differenceTabContent">
            <div id="diff" class="tab-pane fade show active" role="tabpanel" aria-labelledby="diffTab">
              {{{audit.diffData}}}


            </div>
            <div id="old" class="tab-pane fade" role="tabpanel" aria-labelledby="prevTab">
                <h2> Images</h2>
            <div class="assetsImages">
              {{# each audit.oldAssets }}
                {{#if this}}
                    <img src="{{this}}" alt="image" style="height:150px; "/>
                {{/if}}
                {{/each}}
            </div>
            {{{audit.oldData}}}

            </div>
            <div id="new" class="tab-pane fade" role="tabpanel" aria-labelledby="newTab">
                <h2> Images</h2>
            <div class="assetsImages">
              {{# each audit.newAssets }}
                {{#if this}}
                    <img src="{{this}}" alt="image" style="height:150px; "/>
                {{/if}}
                {{/each}}
            </div>
            {{{audit.newData}}}
              
            </div>
        </div>
    </div>
    {{/if}}

</div>