
<div class="card" style="width:40vw;">
    <div class="card-body">
        <h2 class="card-title">Edit Customer</h2> 
        {{# if errors }}
            {{# each errors }}
                <p class="red-text">{{ this.msg }}</p>
                
            {{/each}}
        {{/if}}
        <form method="post" action="/customer/edit" >

            <div class="form-group">
                <label for="email" class="sr-only">email</label>
                <input type="hidden" class="form-control" name="id" id="id" aria-describedby="ID"  value="{{customer.id}}">
                <input type="hidden" class="form-control" name="code" id="code" aria-describedby="Code" placeholder="ie: www.example.com" value="{{customer.code}}">
                <label for="name">Credit Union Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter CU name" value="{{customer.name}}">
            </div>

            <div class="form-group">
               <label for="email">Contact Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="ie: contact@example.com, contact2@example.com,... " value="{{customer.email}}">
            </div>
             <div class="form-group">
               <label for="url">Credit Union Url</label>
                    <input type="text" class="form-control" name="url" id="url" aria-describedby="emailHelp" placeholder="ie: www.example.com" value="{{customer.url}}" >
            </div>
            <button type="submit" class="btn oc-btn">Submit</button><br />
            <a href="/" alt="go back " class="btn oc-btn back">Back</a>
        </form>

      
    </div>
    <div class="card-footer">
     
  </div>
</div>

