<div class="container">
    <div class="section">
        
        <!--   Icon Section   -->
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">email</th>
                        <th scope="col">Changes</th>
                        {{!-- <td>Access Code</td> --}}
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each customers }}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.audits.length}}</td>
                        {{!-- <td>{{this.code}}</td> --}}
                        <td><a href="/audits?cu={{this._id}}"> <i class="material-icons">remove_red_eye</i></a></td>
                        <td><a href="/customer/edit/{{this._id}}"><i class="material-icons darken-4">edit</td>
                        <td><a href="/customer/delete/{{this._id}}"><i class="material-icons red-text darken-4">delete</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>