<div class="container">
    <h2>Select A Credit Union and a date</h2>

    <form method="get" action="/report" class="query-form" style="display: block;">
        <div class="form-group">
            <select name="cu" required class="form-control">
                <option value="" selected>Select Customer</option>
                {{# each cuList }}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <input type="date" name="date" class="form-control" placeholder="Select a date" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn oc-btn">Submit</button>
        </div>
    </form>
    <div class="tableContainer">
        <h2 class="white-text">
            {{cuName}}({{date}})
            <a class="printReport white-text"><i class="fas fa-print"></i></a>
        </h2>
        <table class="table table-striped table-hover table-sm">
            <thead>

                <tr class="">
                    <th scope="col">Url</th>
                    <th scope="col">Change date</th>
                    <th scope="col">is Compliant</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                {{# each reports }}
                <tr>
                    <td>{{{relativeUrl this.url}}}</td>
                    <td>{{this.compareDate}}</td>
                    <td>{{#if this.isCompliant}} YES {{else}} NO {{/if}} </td>
                    <td>{{this.comment}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/js/jspdf.min.js"></script>
<script src="/js/jspdf.plugin.autotable.min.js"></script>
<script>
    // Report Print
    $(document).ready(function(){
        $(".printReport").on('click', function(e){
            e.preventDefault();
        var doc = new jsPDF();
        // You can use html:
        doc.autoTable({
            html: '#report', 
            styles: { halign: 'center', cellPadding: 5, cellWidth: 50, rowPageBreak: 'auto' }, 
            Padding: {top: 20, right: 0, bottom: 20, left: 0}, 
            margin: {top: 0, right: 0, bottom: 0, left: 0},
            columnStyles: {text: {cellWidth: 'wrap'}},
            useCss: true
        });
        
        
        doc.save('AccessibilityReport.pdf');
        });
    });
</script>