<!DOCTYPE html>
<html>
<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Compiled and minified Styledsheet -->
<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src = "/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
    <meta name="description" content="Software to scan OMNICOMMANDER client's live websites(On Squarespace) for changes and notify an ADA Compliance professional. All changes are reported.">
    <link rel="icon" type="image/png" href="/images/star.png" />
    <title>OC-Audit by Omnicommander</title>
</head>

<body>
    <!-- Dropdown Structure -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">OMNI SCAN</a>
        
        <div class="collapse" id="navbarSupportedContent"></div>
        <ul class="navbar-nav">
            {{#if user}}
            <li class="nav-item"><a class="nav-link" href="/audits">Audits</a></li>
            <li class="nav-item"><a class="nav-link" href="/reports">Reports</a></li>
            {{/if}} {{#if visitor}} {{#unless ../user}}
            <li class="nav-item"><a class="nav-link" href="/audits">Audits</a></li>
            {{/unless}} {{/if}} {{#if user}}
            <li class="nav-item"><a class="nav-link" href="/admin/logout">Sign Out</a></li>

            {{else}}
            <li class="nav-item"><a class="nav-link" href="/admin/login">Admin</a></li>
            {{/if}}
        </ul>
        </div>

    </nav>
    <nav class="navbar justify-content-end ">
      <span class="visitorData"> {{#if vName}} {{vName}} {{/if}} </span>
        <div class="userInfoRight d-flex ">
          {{#if user}}
            
         
            <div class="justify-content-end">
              
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.name}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h6 class="center">Last Login:</h6>
                    <a href="#!" class="disabled ">{{user.login_date}}</a>
                </div>
            </div>

          {{/if}}
            
        </div>
    </nav>
    
    <section id="main">
   
        {{{body}}}
      
    </section>
    {{> footer}} {{#if user}}
    <a href="/newCustomer" class="add-float"><i class="material-icons">add</i></a> {{/if}}

</body>

<!--  Scripts-->

<script src="/js/init.js"></script>
<script src="/js/main.js"></script>

</html>